html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: BaseTwelveSansRegular, sans-serif;
  color: #AAD11E;
  background-color: #007631;
}
.container-fluid {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  font-family: BaseTwelveSansIRegular, sans-serif;
  height: 100%;
  background-image: linear-gradient(to bottom, #007631, #D2DC2B);
  text-align: center;
}
.main-logo, .sub-logo {
  margin: 0;
}
.main-logo {
  padding-top: 75px;
}
.main-logo img {
  max-width: 65%;
}
.sub-logo {
  padding-top: 10px;
  font-size: 16px;
}
.main-button {
  width: 80% !important;
  max-width: 420px;
  margin: 26px auto 0;
  border: 1px solid #AAD11E;
  border-radius: 4px;
}
.main-button .btn {
  background: transparent;
  color: inherit;
  border: 0;
  font-family: TodaySHOPUltraRegular, sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
}
.main-button .glyphicon {
  top: 4px;
}

.modal-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.user-welcome {
  font-family: BaseTwelveSansIRegular, sans-serif;
  font-size: 14px;
  text-align: center;
}
.input-group-addon-unstyled {
  background: transparent;
  border: none;
}
.btn-group-justified, .form-horizontal {
  margin-bottom: 10px;
  padding: 0 15px;
}
#input-filter {
  font-family: BaseTwelveSansIRegular, sans-serif;
}
#input-filter::-webkit-input-placeholder {
  color: #AAD11E;
}
.play-info {
  background-color: rgba(186, 11, 2, .5);
  text-align: center;
  margin-bottom: 0;
  line-height: 40px;
}
.list-group-item {
  padding-right: 75px;
  padding-left: 40px;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
a.list-group-item {
  color: #AAD11E;
  border: 0;
  border-top: 1px solid #AAD11E;
}
a.list-group-item.read {
  background-color: rgba(0, 66, 61, .5) !important;
}
a.list-group-item:hover {
  color: rgba(186, 11, 2, .5);
}
a.list-group-item:nth-child(odd) {
  background-color: #007631;
}
a.list-group-item:nth-child(even) {
  background-color: #1D862F;
}
a.list-group-item:last-child {
  border-bottom: 1px solid #AAD11E;
}
.list-group-item-index {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
}
.list-group-item h3 {
  font-size: 14px;
}
.list-group-item h4 {
  font-size: 11px;
}
.icons-group {
  font-size: 26px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.glyphicon-flag {
  font-size: .75em;
}
.glyphicon.flagged {
  color: #225423 !important;
}


